[submodule "tracking/sleap/realtime-sleap/leap_rigs"]
	path = tracking/sleap/realtime-sleap/leap_rigs
	url = https://github.com/Wolfffff/leap_rigs
[submodule "tracking/sleap/realtime-sleap/campy"]
	path = tracking/sleap/realtime-sleap/campy
	url = https://github.com/Wolfffff/campy
