[submodule "tracking/sleap/realtime-sleap/leap_rigs"]
	path = tracking/sleap/realtime-sleap/leap_rigs
	url = git@github.com:Wolfffff/leap_rigs.git
[submodule "tracking/sleap/realtime-sleap/campy"]
	path = tracking/sleap/realtime-sleap/campy
	url = git@github.com:Wolfffff/campy.git
